	<!DOCTYPE html>
	<html lang="zxx" class="no-js">

        {% include 'header.html' %}

		<body>

            {% include 'menu.html' %}

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Clustering
							</h1>	
							<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/#services"> Services</a>  <span class="lnr lnr-arrow-right"></span>  <a href="/clustering"> Clustering</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start about-video Area -->
			<section class="about-video-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						{% if error is defined %}
							<div class="alert alert-danger" role="alert">
							  {{ error }}
							</div>
						{% else %}
						<p class="h1">Results of the experiment: <small>{{ experiment }}</small></p>
						<table class="table">
						  <thead>
							<tr>
							  <th scope="col">Setting</th>
							  <th scope="col">value</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <th scope="row">Samples</th>
							  <td>{{ samples }}</td>
							</tr>
						    <tr>
							  <th scope="row">Features</th>
							  <td>{{ features }}</td>
							</tr>
						    <tr>
							  <th scope="row">Clusters</th>
							  <td>{{ clusters }}</td>
							</tr>
						  </tbody>
						</table>

						<h3>Sample labeling</h3>
						<table class="table">
						  <thead>
							<tr>
							  {% for i in range(samples|int) %}
							  	<th scope="col">#{{i}}</th>
							  {% endfor %}
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  {% for i in range(samples|int) %}
							  	<td scope="col">{{labels[i]}}</td>
							  {% endfor %}
							</tr>
						  </tbody>
						</table>

						<h3>Cluster centroids</h3>
						<table class="table">
						  <thead>
							<tr>
							  <th scope="col">Cluster</th>
							  {% for i in range(features|int) %}
							  	<th scope="col">Dimension #{{i}}</th>
							  {% endfor %}
							</tr>
						  </thead>
						  <tbody>
							  {% for i in range(clusters|int) %}
							  <tr>
								<td>#{{i}}</td>
								{% for j in range(features|int) %}
							  		<td scope="col">{{centroids[i][j]}}</td>
							    {% endfor %}
							  </tr>
							  {% endfor %}
						  </tbody>
						</table>

						<div>
							<img src="/img/fig_{{ id }}.png">
						</div>
						{% endif %}
					</div>
				</div>	
			</section>
			<!-- End about-video Area -->			


			<!-- Start brand Area -->
			<section class="brand-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col single-brand">
							<img class="img-fluid" src="/img/l1.png" alt="">
						</div>
						<div class="col single-brand">
							<img class="img-fluid" src="/img/l2.png" alt="">
						</div>
						<div class="col single-brand">
							<img class="img-fluid" src="/img/l3.png" alt="">
						</div>
						<div class="col single-brand">
							<img class="img-fluid" src="/img/l4.png" alt="">
						</div>
						<div class="col single-brand">
							<img class="img-fluid" src="/img/l5.png" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End brand Area -->			

            {% include 'footer.html' %}

		</body>
	</html>


